# Getting started with HDF5 and PyTables

*11/03/2018 - Giacomo Debidda @PyCon Slovakia*

In [8]:
import os
import numpy as np
import pandas as pd
import tables as tb

In [9]:
np.set_printoptions(precision=2, suppress=True)

In [10]:
data_dir = os.path.join(os.getcwd(), 'data')
print(data_dir)

/home/jack/Repos/hdf5-pycon-slovakia/data

### HDF5: a filesystem in a file

HDF5 is a data model, library, and file format for storing and managing big and complex data.

An HDF5 file can be thought of as a container (or group) that holds a variety of heterogeneous data objects (or datasets). The datasets can be almost anything: images, tables, graphs, or even documents, such as PDF or Excel.

- Datasets (i.e. files in a filesystem)
- Groups (i.e. directories in a filesystem)
- Attributes (i.e. metadata of file/directory)

![HDF5 structure](img/hdf5_structure.jpg)

Working with groups and group members is similar to working with directories and files in UNIX.

**/** root group (every HDF5 file has a root group)

**/foo** member of the root group called foo

**/foo/bar** member of the group foo called bar

### HDF5 in the Python data stack

![h5py - PyTables refactor](img/h5py-pytables-refactor.png)

![PyTables logo](img/pytables-logo.png)

- Does not want to be a complete wrapper for the entire HDF5 C API
- High level abstraction over HDF5 (it's more "battery included" than h5py)
- Does not depend on h5py (at the moment)
- Natural naming
- Fast searches (indexing, out-of-core querying)
- Built-in compression
- Undo mode

### Groups, Attributes, ~~Datasets~~

Let's have a brief overview of the PyTables API.

> Let's forget HDF5 Datasets for a moment...

- how to create groups, attributes and arrays
- how to access nodes in a HDF5 file
- how to access data in a node

### Natural naming

PyTables nodes (i.e. any element in the hierarchy of the HDF5 file) can be accessed with the dot notation if they follow a *natural naming* schema (like in pandas).

In [11]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='w') as f:
    f.create_group(where='/', name='my_group')

In [12]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='w') as f:
    f.create_group(where='/', name='my group')

/home/jack/.virtualenvs/hdf5-pycon-slovakia/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: 'my group'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)

When a node which does not follow the natural naming schema you can still use `get_node` to access it.

In [13]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='r') as f:
    my_group = f.get_node(where='/my group')
    print(my_group)
    my_group = f.get_node(where='/', name='my group')
    print(my_group)

/my group (Group) ''
/my group (Group) ''

### Let's create some data

In [14]:
arr1d = np.linspace(start=0, stop=100, num=10, dtype=np.int8)
arr1d

array([  0,  11,  22,  33,  44,  55,  66,  77,  88, 100], dtype=int8)

In [15]:
arr2d = np.arange(30, dtype=np.float32).reshape(10, 3)
arr2d

array([[ 0.,  1.,  2.],
       [ 3.,  4.,  5.],
       [ 6.,  7.,  8.],
       [ 9., 10., 11.],
       [12., 13., 14.],
       [15., 16., 17.],
       [18., 19., 20.],
       [21., 22., 23.],
       [24., 25., 26.],
       [27., 28., 29.]], dtype=float32)

In [16]:
arr3d = np.random.random((10, 3, 5)).astype('float32')
arr3d

array([[[0.64, 0.14, 0.49, 0.07, 0.4 ],
        [0.44, 0.52, 0.39, 0.05, 0.14],
        [0.11, 0.11, 0.95, 0.65, 0.89]],

       [[0.3 , 0.36, 0.5 , 0.63, 0.19],
        [0.11, 0.99, 0.27, 0.63, 0.37],
        [0.91, 0.97, 0.78, 0.13, 0.74]],

       [[0.03, 0.92, 0.5 , 0.21, 0.99],
        [0.91, 0.62, 0.41, 0.95, 0.97],
        [0.12, 0.76, 0.48, 0.53, 0.96]],

       [[0.04, 0.08, 0.06, 0.97, 0.81],
        [0.25, 0.03, 0.51, 0.67, 0.94],
        [0.96, 0.47, 0.92, 0.92, 0.19]],

       [[0.56, 0.22, 0.79, 0.64, 0.48],
        [0.39, 0.19, 0.34, 0.32, 0.31],
        [0.67, 0.26, 0.56, 0.43, 0.44]],

       [[0.5 , 0.17, 0.31, 0.78, 0.91],
        [0.22, 0.65, 0.05, 0.11, 0.47],
        [0.09, 0.83, 0.27, 0.45, 0.11]],

       [[0.62, 0.36, 0.2 , 0.2 , 0.93],
        [0.96, 0.89, 0.5 , 0.96, 0.66],
        [0.75, 0.26, 0.15, 0.79, 0.89]],

       [[0.48, 0.67, 0.12, 0.02, 0.58],
        [0.09, 0.34, 0.84, 0.75, 0.98],
        [0.98, 0.37, 0.29, 0.52, 0.5 ]],

       [[0.58, 0.86, 1.  , 0.25, 0.77],
        [0.23, 0.42, 0.25, 0.24, 0.86],
        [0.13, 0.65, 0.2 , 0.42, 0.95]],

       [[0.5 , 0.41, 0.36, 0.37, 0.42],
        [0.46, 0.3 , 0.84, 0.78, 0.76],
        [0.29, 0.86, 0.69, 0.81, 0.87]]], dtype=float32)

### Create groups, attributes, arrays

In [43]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='w') as f:
    f.create_array(where='/', 
                   name='array_1d',
                   title='A one-dimensional Array',
                   obj=arr1d)
    f.set_node_attr(where='/array_1d', attrname='SomeAttribute', attrvalue='SomeValue')
    
    f.create_group(where='/', name='multidimensional_data', title='Multi dimensional data')
    f.set_node_attr(where='/multidimensional_data', attrname='SomeOtherAttribute', attrvalue=123)
    
    f.create_array(where='/multidimensional_data', 
                   name='array_2d',
                   title='A two-dimensional Array',
                   obj=arr2d)
    
    f.create_array(where=f.root.multidimensional_data, 
                   name='array_3d',
                   title='A three-dimensional Array',
                   obj=arr3d)

### Traverse a HDF5 file

In [44]:
with tb.open_file('data/my_pytables_file.h5', 'r') as f:
    for node in f:
        print(node)
        
#     for node in f.walk_groups():
#         print(node)

/ (RootGroup) ''
/array_1d (Array(10,)) 'A one-dimensional Array'
/multidimensional_data (Group) 'Multi dimensional data'
/multidimensional_data/array_2d (Array(10, 3)) 'A two-dimensional Array'
/multidimensional_data/array_3d (Array(10, 3, 5)) 'A three-dimensional Array'

### Select a hyperslab of data

Hyperslabs are portions of datasets. A hyperslab selection can be a logically contiguous collection of points in a dataspace, or it can be regular pattern of points or blocks in a dataspace.

In [45]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='r') as f:
    print(repr(f.root.multidimensional_data.array_3d[2:7, 1, :]))

array([[0.91, 0.62, 0.41, 0.95, 0.97],
       [0.25, 0.03, 0.51, 0.67, 0.94],
       [0.39, 0.19, 0.34, 0.32, 0.31],
       [0.22, 0.65, 0.05, 0.11, 0.47],
       [0.96, 0.89, 0.5 , 0.96, 0.66]], dtype=float32)

### HDF5 CLI utils

[Here](https://support.hdfgroup.org/products/hdf5_tools/#h5dist) you can find the command line tools developed by the HDF Group. You don't need h5py or PyTables to use them.

If you are on Ubuntu, you can install them with `sudo apt install hdf5-tools`

In [46]:
# -r stands for 'recursive'
!h5ls -r 'data/my_pytables_file.h5'

/                        Group
/array_1d                Dataset {10}
/multidimensional_data   Group
/multidimensional_data/array_2d Dataset {10, 3}
/multidimensional_data/array_3d Dataset {10, 3, 5}

In [47]:
!h5dump 'data/my_pytables_file.h5'

HDF5 "data/my_pytables_file.h5" {
GROUP "/" {
   ATTRIBUTE "CLASS" {
      DATATYPE  H5T_STRING {
         STRSIZE 5;
         STRPAD H5T_STR_NULLTERM;
         CSET H5T_CSET_UTF8;
         CTYPE H5T_C_S1;
      }
      DATASPACE  SCALAR
      DATA {
      (0): "GROUP"
      }
   }
   ATTRIBUTE "PYTABLES_FORMAT_VERSION" {
      DATATYPE  H5T_STRING {
         STRSIZE 3;
         STRPAD H5T_STR_NULLTERM;
         CSET H5T_CSET_UTF8;
         CTYPE H5T_C_S1;
      }
      DATASPACE  SCALAR
      DATA {
      (0): "2.1"
      }
   }
   ATTRIBUTE "TITLE" {
      DATATYPE  H5T_STRING {
         STRSIZE 1;
         STRPAD H5T_STR_NULLTERM;
         CSET H5T_CSET_UTF8;
         CTYPE H5T_C_S1;
      }
      DATASPACE  NULL
      DATA {
      }
   }
   ATTRIBUTE "VERSION" {
      DATATYPE  H5T_STRING {
         STRSIZE 3;
         STRPAD H5T_STR_NULLTERM;
         CSET H5T_CSET_UTF8;
         CTYPE H5T_C_S1;
      }
      DATASPACE  SCALAR
      DATA {
      (0): "1.0"
      }
   }
   DATASET "array_1d" {
      DATATYPE  H5T_STD_I8LE
      DATASPACE  SIMPLE { ( 10 ) / ( 10 ) }
      DATA {
      (0): 0, 11, 22, 33, 44, 55, 66, 77, 88, 100
      }
      ATTRIBUTE "CLASS" {
         DATATYPE  H5T_STRING {
            STRSIZE 5;
            STRPAD H5T_STR_NULLTERM;
            CSET H5T_CSET_UTF8;
            CTYPE H5T_C_S1;
         }
         DATASPACE  SCALAR
         DATA {
         (0): "ARRAY"
         }
      }
      ATTRIBUTE "FLAVOR" {
         DATATYPE  H5T_STRING {
            STRSIZE 5;
            STRPAD H5T_STR_NULLTERM;
            CSET H5T_CSET_UTF8;
            CTYPE H5T_C_S1;
         }
         DATASPACE  SCALAR
         DATA {
         (0): "numpy"
         }
      }
      ATTRIBUTE "SomeAttribute" {
         DATATYPE  H5T_STRING {
            STRSIZE 9;
            STRPAD H5T_STR_NULLTERM;
            CSET H5T_CSET_UTF8;
            CTYPE H5T_C_S1;
         }
         DATASPACE  SCALAR
         DATA {
         (0): "SomeValue"
         }
      }
      ATTRIBUTE "TITLE" {
         DATATYPE  H5T_STRING {
            STRSIZE 23;
            STRPAD H5T_STR_NULLTERM;
            CSET H5T_CSET_UTF8;
            CTYPE H5T_C_S1;
         }
         DATASPACE  SCALAR
         DATA {
         (0): "A one-dimensional Array"
         }
      }
      ATTRIBUTE "VERSION" {
         DATATYPE  H5T_STRING {
            STRSIZE 3;
            STRPAD H5T_STR_NULLTERM;
            CSET H5T_CSET_UTF8;
            CTYPE H5T_C_S1;
         }
         DATASPACE  SCALAR
         DATA {
         (0): "2.4"
         }
      }
   }
   GROUP "multidimensional_data" {
      ATTRIBUTE "CLASS" {
         DATATYPE  H5T_STRING {
            STRSIZE 5;
            STRPAD H5T_STR_NULLTERM;
            CSET H5T_CSET_UTF8;
            CTYPE H5T_C_S1;
         }
         DATASPACE  SCALAR
         DATA {
         (0): "GROUP"
         }
      }
      ATTRIBUTE "SomeOtherAttribute" {
         DATATYPE  H5T_STD_I64LE
         DATASPACE  SCALAR
         DATA {
         (0): 123
         }
      }
      ATTRIBUTE "TITLE" {
         DATATYPE  H5T_STRING {
            STRSIZE 22;
            STRPAD H5T_STR_NULLTERM;
            CSET H5T_CSET_UTF8;
            CTYPE H5T_C_S1;
         }
         DATASPACE  SCALAR
         DATA {
         (0): "Multi dimensional data"
         }
      }
      ATTRIBUTE "VERSION" {
         DATATYPE  H5T_STRING {
            STRSIZE 3;
            STRPAD H5T_STR_NULLTERM;
            CSET H5T_CSET_UTF8;
            CTYPE H5T_C_S1;
         }
         DATASPACE  SCALAR
         DATA {
         (0): "1.0"
         }
      }
      DATASET "array_2d" {
         DATATYPE  H5T_IEEE_F32LE
         DATASPACE  SIMPLE { ( 10, 3 ) / ( 10, 3 ) }
         DATA {
         (0,0): 0, 1, 2,
         (1,0): 3, 4, 5,
         (2,0): 6, 7, 8,
         (3,0): 9, 10, 11,
         (4,0): 12, 13, 14,
         (5,0): 15, 16, 17,
         (6,0): 18, 19, 20,
         (7,0): 21, 22, 23,
         (8,0): 24, 25, 26,
         (9,0): 27, 28, 29
         }
         ATTRIBUTE "CLASS" {
            DATATYPE  H5T_STRING {
               STRSIZE 5;
               STRPAD H5T_STR_NULLTERM;
               CSET H5T_CSET_UTF8;
               CTYPE H5T_C_S1;
            }
            DATASPACE  SCALAR
            DATA {
            (0): "ARRAY"
            }
         }
         ATTRIBUTE "FLAVOR" {
            DATATYPE  H5T_STRING {
               STRSIZE 5;
               STRPAD H5T_STR_NULLTERM;
               CSET H5T_CSET_UTF8;
               CTYPE H5T_C_S1;
            }
            DATASPACE  SCALAR
            DATA {
            (0): "numpy"
            }
         }
         ATTRIBUTE "TITLE" {
            DATATYPE  H5T_STRING {
               STRSIZE 23;
               STRPAD H5T_STR_NULLTERM;
               CSET H5T_CSET_UTF8;
               CTYPE H5T_C_S1;
            }
            DATASPACE  SCALAR
            DATA {
            (0): "A two-dimensional Array"
            }
         }
         ATTRIBUTE "VERSION" {
            DATATYPE  H5T_STRING {
               STRSIZE 3;
               STRPAD H5T_STR_NULLTERM;
               CSET H5T_CSET_UTF8;
               CTYPE H5T_C_S1;
            }
            DATASPACE  SCALAR
            DATA {
            (0): "2.4"
            }
         }
      }
      DATASET "array_3d" {
         DATATYPE  H5T_IEEE_F32LE
         DATASPACE  SIMPLE { ( 10, 3, 5 ) / ( 10, 3, 5 ) }
         DATA {
         (0,0,0): 0.638543, 0.138044, 0.492169, 0.0669096, 0.396459,
         (0,1,0): 0.439909, 0.523163, 0.394074, 0.0488327, 0.139395,
         (0,2,0): 0.114148, 0.112495, 0.953156, 0.651184, 0.889477,
         (1,0,0): 0.29501, 0.364587, 0.496471, 0.629858, 0.190253,
         (1,1,0): 0.109786, 0.985613, 0.274062, 0.633961, 0.368236,
         (1,2,0): 0.911261, 0.971081, 0.782658, 0.129538, 0.74175,
         (2,0,0): 0.0337604, 0.916682, 0.499824, 0.209329, 0.992865,
         (2,1,0): 0.912155, 0.615522, 0.411414, 0.946639, 0.969252,
         (2,2,0): 0.116663, 0.756148, 0.47819, 0.526703, 0.964995,
         (3,0,0): 0.036537, 0.0779596, 0.0604591, 0.969671, 0.812763,
         (3,1,0): 0.25376, 0.0293835, 0.508031, 0.667168, 0.941031,
         (3,2,0): 0.955361, 0.469132, 0.922838, 0.923194, 0.192717,
         (4,0,0): 0.561106, 0.223387, 0.792752, 0.638261, 0.481206,
         (4,1,0): 0.385364, 0.194971, 0.344144, 0.316965, 0.308796,
         (4,2,0): 0.674432, 0.263562, 0.556529, 0.428061, 0.443687,
         (5,0,0): 0.499123, 0.171087, 0.309998, 0.776567, 0.912039,
         (5,1,0): 0.221882, 0.650348, 0.0458514, 0.109437, 0.471341,
         (5,2,0): 0.0867943, 0.828834, 0.2664, 0.454865, 0.108615,
         (6,0,0): 0.617108, 0.363011, 0.203361, 0.201003, 0.933446,
         (6,1,0): 0.963173, 0.885955, 0.503048, 0.956128, 0.656243,
         (6,2,0): 0.751454, 0.256614, 0.153116, 0.790914, 0.887405,
         (7,0,0): 0.484461, 0.67419, 0.121179, 0.0240311, 0.581449,
         (7,1,0): 0.0866204, 0.339431, 0.843012, 0.753864, 0.981273,
         (7,2,0): 0.975555, 0.373091, 0.292818, 0.516144, 0.497795,
         (8,0,0): 0.583912, 0.85917, 0.998712, 0.25107, 0.767486,
         (8,1,0): 0.22685, 0.423202, 0.248821, 0.235184, 0.858473,
         (8,2,0): 0.134708, 0.649324, 0.19909, 0.420142, 0.94982,
         (9,0,0): 0.496562, 0.414045, 0.3552, 0.369509, 0.420723,
         (9,1,0): 0.459889, 0.299808, 0.836122, 0.781222, 0.755663,
         (9,2,0): 0.285079, 0.863806, 0.687345, 0.812065, 0.866128
         }
         ATTRIBUTE "CLASS" {
            DATATYPE  H5T_STRING {
               STRSIZE 5;
               STRPAD H5T_STR_NULLTERM;
               CSET H5T_CSET_UTF8;
               CTYPE H5T_C_S1;
            }
            DATASPACE  SCALAR
            DATA {
            (0): "ARRAY"
            }
         }
         ATTRIBUTE "FLAVOR" {
            DATATYPE  H5T_STRING {
               STRSIZE 5;
               STRPAD H5T_STR_NULLTERM;
               CSET H5T_CSET_UTF8;
               CTYPE H5T_C_S1;
            }
            DATASPACE  SCALAR
            DATA {
            (0): "numpy"
            }
         }
         ATTRIBUTE "TITLE" {
            DATATYPE  H5T_STRING {
               STRSIZE 25;
               STRPAD H5T_STR_NULLTERM;
               CSET H5T_CSET_UTF8;
               CTYPE H5T_C_S1;
            }
            DATASPACE  SCALAR
            DATA {
            (0): "A three-dimensional Array"
            }
         }
         ATTRIBUTE "VERSION" {
            DATATYPE  H5T_STRING {
               STRSIZE 3;
               STRPAD H5T_STR_NULLTERM;
               CSET H5T_CSET_UTF8;
               CTYPE H5T_C_S1;
            }
            DATASPACE  SCALAR
            DATA {
            (0): "2.4"
            }
         }
      }
   }
}
}

### PyTables CLI utils

Some very useful tools are shipped with PyTables. These are just python scripts that can be used from the command line.

In [48]:
# -a show attributes, -v verbose
!ptdump -av 'data/my_pytables_file.h5'

/ (RootGroup) ''
  /._v_attrs (AttributeSet), 4 attributes:
   [CLASS := 'GROUP',
    PYTABLES_FORMAT_VERSION := '2.1',
    TITLE := '',
    VERSION := '1.0']
/array_1d (Array(10,)) 'A one-dimensional Array'
  atom := Int8Atom(shape=(), dflt=0)
  maindim := 0
  flavor := 'numpy'
  byteorder := 'irrelevant'
  chunkshape := None
  /array_1d._v_attrs (AttributeSet), 5 attributes:
   [CLASS := 'ARRAY',
    FLAVOR := 'numpy',
    SomeAttribute := 'SomeValue',
    TITLE := 'A one-dimensional Array',
    VERSION := '2.4']
/multidimensional_data (Group) 'Multi dimensional data'
  /multidimensional_data._v_attrs (AttributeSet), 4 attributes:
   [CLASS := 'GROUP',
    SomeOtherAttribute := 123,
    TITLE := 'Multi dimensional data',
    VERSION := '1.0']
/multidimensional_data/array_2d (Array(10, 3)) 'A two-dimensional Array'
  atom := Float32Atom(shape=(), dflt=0.0)
  maindim := 0
  flavor := 'numpy'
  byteorder := 'little'
  chunkshape := None
  /multidimensional_data/array_2d._v_attrs (AttributeSet), 4 attributes:
   [CLASS := 'ARRAY',
    FLAVOR := 'numpy',
    TITLE := 'A two-dimensional Array',
    VERSION := '2.4']
/multidimensional_data/array_3d (Array(10, 3, 5)) 'A three-dimensional Array'
  atom := Float32Atom(shape=(), dflt=0.0)
  maindim := 0
  flavor := 'numpy'
  byteorder := 'little'
  chunkshape := None
  /multidimensional_data/array_3d._v_attrs (AttributeSet), 4 attributes:
   [CLASS := 'ARRAY',
    FLAVOR := 'numpy',
    TITLE := 'A three-dimensional Array',
    VERSION := '2.4']

In [49]:
!pttree -L 2 --use-si-units --sort-by 'size' 'data/my_pytables_file.h5'

------------------------------------------------------------

/ (RootGroup)
+--multidimensional_data (Group)
|  +--array_3d (Array)
|  |     mem=600.0B, disk=600.0B [82.2%]
|  `--array_2d (Array)
|        mem=120.0B, disk=120.0B [16.4%]
`--array_1d (Array)
      mem=10.0B, disk=10.0B [ 1.4%]

------------------------------------------------------------
Total branch leaves:    3
Total branch size:      730.0B in memory, 730.0B on disk
Mean compression ratio: 1.00
HDF5 file size:         6.0kB
------------------------------------------------------------

### HDF5 Viewers

- [HDFView](https://support.hdfgroup.org/products/java/hdfview/): I like it!
- [HDF Compass](https://support.hdfgroup.org/projects/compass/): seems to be the go-to choice for Mac users
- [ViTables](http://vitables.org/): weird... indexing starts at 1

> Remember when I said "let's forget HDF5 datasets for a moment"?

> Here is why...

### PyTables provides high-level abstractions over the HDF5 Dataset

Homogenous dataset:

- **Array**
- **CArray**
- **EArray**
- **VLArray**

Heterogenous dataset:

- **Table**

*Note*: some HDF5 libraries/tools could create a HDF5 dataset currently not supported by PyTables. In this case the dataset will be mapped into an [UnImplemented](http://www.pytables.org/usersguide/libref/helper_classes.html#tables.UnImplemented) class instance.

### Wait! What is a *Homogeneous* dataset?

A homogeneous dataset is a dataset where all its elements have the same [Atom](http://www.pytables.org/usersguide/libref/declarative_classes.html#atomclassdescr).

An Atom represents the **type and shape** of the atomic objects to be saved.

It's the most basic, indivisible element that can be stored in a given dataset. Atoms have the property that their length is always the same.

In [50]:
atom = tb.Int64Atom(shape=(2,))
atom

Int64Atom(shape=(2,), dflt=0)

### Array

[Docs](http://www.pytables.org/usersguide/libref/homogenous_storage.html#the-array-class)

An Array contains homogeneous data. Every atomic object (i.e. every single element) has the same type and shape.

- Fastest I/O speed
- Must fit in memory
- Not compressible
- Not enlargeable (i.e. no append)

In [51]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='w') as f:
    f.create_array(where='/', 
                   name='array_1d',
                   title='A one-dimensional Array',
                   obj=[0, 1, 2, 3])

### CArray

[Docs](http://www.pytables.org/usersguide/libref/homogenous_storage.html#carrayclassdescr)

- Chunked layout, compressible
- Not enlargeable

In [52]:
filters = tb.Filters(complevel=5, complib='zlib')

Tips on how to use compression (from the PyTables docs)

- A mid-level (5) compression is sufficient. No need to go all the way up (9)
- Use zlib if you must guarantee complete portability
- Use blosc all other times (it is optimized for HDF5)

In [53]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='w') as f:
    f.create_carray(
        where='/',
        name='my_carray',
        title='My PyTables CArray',
        obj=arr2d,
        filters=filters)

### EArray

[Docs](http://www.pytables.org/usersguide/libref/homogenous_storage.html#earrayclassdescr)

- Enlargeable on **one** dimension (append)

In [62]:
# One (and only one) of the shape dimensions *must* be 0.
# The dimension being 0 means that the resulting EArray object can be extended along it.
# Multiple enlargeable dimensions are not supported (at the moment).
num_columns = 5
shape = (0, num_columns)

with tb.open_file(filename='data/my_pytables_file.h5', mode='w') as f:
    # you can create an EArray and fill it later, but you need to specify atom and shape
    f.create_earray(
        where='/',
        name='my_earray',
        title='My PyTables EArray',
        atom=tb.Float32Atom(),
        shape=shape,
        filters=filters)

In [63]:
num_rows = 1000000  # 1 million
matrix = np.random.random((num_rows, num_columns)).astype('float32')

In [64]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='a') as f:
    earray = f.root.my_earray
    earray.append(sequence=matrix[0:1000, :])

In [65]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='a') as f:
    earray = f.root.my_earray
    earray.append(sequence=matrix[1001:5000, :])

### VLArray

[Docs](http://www.pytables.org/usersguide/libref/homogenous_storage.html#the-vlarray-class)

- Each row has a variable number of homogeneous elements (atoms)

In [66]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='w') as f:
    vlarray = f.create_vlarray(where='/',
                               name='my_vlarray',
                               atom=atom,
                               title='Variable length array of vectors')
    vlarray.append([[0, 1]])
    vlarray.append([[2, 3], [4, 5], [6, 7]])
    vlarray.append([[8, 9]])

### Table

[Docs](http://www.pytables.org/usersguide/libref/structured_storage.html?highlight=table#tableclassdescr)

- Data can be heterogeneous (i.e. different shapes and different dtypes)
- The structure of a table is declared by its [description](http://www.pytables.org/usersguide/libref/declarative_classes.html#tables.IsDescription)
- multi-column searches

In order to emulate in Python records mapped to HDF5 C structs PyTables implements a special class so as to easily define all its fields and other properties. It's called `IsDescription`.

A *description* defines the table structure (basically, the *schema* of your table).

### Example: NYC yellow taxi dataset

[Taxi & Limousine Commission Trip Record Data](http://www.nyc.gov/html/tlc/html/about/trip_record_data.shtml)

In [67]:
!less 'data/taxi+_zone_lookup.csv'

"LocationID","Borough","Zone","service_zone"
1,"EWR","Newark Airport","EWR"
2,"Queens","Jamaica Bay","Boro Zone"
3,"Bronx","Allerton/Pelham Gardens","Boro Zone"
4,"Manhattan","Alphabet City","Yellow Zone"
5,"Staten Island","Arden Heights","Boro Zone"
6,"Staten Island","Arrochar/Fort Wadsworth","Boro Zone"
7,"Queens","Astoria","Boro Zone"
8,"Queens","Astoria Park","Boro Zone"
9,"Queens","Auburndale","Boro Zone"
10,"Queens","Baisley Park","Boro Zone"
11,"Brooklyn","Bath Beach","Boro Zone"
12,"Manhattan","Battery Park","Yellow Zone"
13,"Manhattan","Battery Park City","Yellow Zone"
14,"Brooklyn","Bay Ridge","Boro Zone"
15,"Queens","Bay Terrace/Fort Totten","Boro Zone"
16,"Queens","Bayside","Boro Zone"
17,"Brooklyn","Bedford","Boro Zone"
18,"Bronx","Bedford Park","Boro Zone"
19,"Queens","Bellerose","Boro Zone"
20,"Bronx","Belmont","Boro Zone"
21,"Brooklyn","Bensonhurst East","Boro Zone"
22,"Brooklyn","Bensonhurst West","Boro Zone"
:a/taxi+_zone_lookup.csv

In [68]:
!less 'data/yellow_tripdata_2017-12.csv'

VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount

1,2017-12-01 00:12:00,2017-12-01 00:12:51,1,.00,1,N,226,226,3,2.5,0.5,0.5,0,0,0.3,3.8
1,2017-12-01 00:13:37,2017-12-01 00:13:47,1,.00,1,N,226,226,3,2.5,0.5,0.5,0,0,0.3,3.8
1,2017-12-01 00:14:15,2017-12-01 00:15:05,1,.00,1,N,226,226,3,2.5,0.5,0.5,0,0,0.3,3.8
1,2017-12-01 00:15:33,2017-12-01 00:15:37,1,.00,1,N,226,226,3,2.5,0.5,0.5,0,0,0.3,3.8
1,2017-12-01 00:50:03,2017-12-01 00:53:35,1,.00,1,N,145,145,2,4,0.5,0.5,0,0,0.3,5.3
1,2017-12-01 00:14:20,2017-12-01 00:28:35,1,4.20,1,N,82,258,2,15,0.5,0.5,0,0,0.3,16.3
1,2017-12-01 00:20:32,2017-12-01 00:31:24,1,5.40,1,N,50,116,2,17,0.5,0.5,0,0,0.3,18.3
1,2017-12-01 00:01:46,2017-12-01 00:12:19,1,1.90,1,N,161,107,1,9,0.5,0.5,2.05,0,0.3,12.35
1,2017-12-01 00:17:52,2017-12-01 00:32:35,1,3.30,1,N,107,263,1,12.5,0.5,0.5,2.07,0,0.3,15.87
:12-01 00:10:00,2017-12-01 00:24:35,1,2.80,1,N,264,87,1,12,0.5,0.5,2.65,0,data/yellow_tripdata_2017-12.csv

Define a description object to pass to the `Table` constructor. The information it contains will be used to define the table structure.

In [72]:
class TaxiTableDescription(tb.IsDescription):
    vendor_id = tb.UInt8Col(pos=0)
    pickup_timestamp_ms = tb.Int64Col()
    dropoff_timestamp_ms = tb.Int64Col()
    passenger_count = tb.UInt8Col()
    trip_distance = tb.Float32Col()
    pickup_location_id = tb.UInt16Col()
    dropoff_location_id = tb.UInt16Col()
    payment_type = tb.UInt8Col()
    fare_amount = tb.Float32Col()
    tip_amount = tb.Float32Col()
    total_amount = tb.Float32Col()

HDF5 is *self-describing*: you can store the data dictionary as metadata. No need for external files.

In [73]:
# data dictionary for NY yellow taxi CSV files
# http://www.nyc.gov/html/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf
data_dictionary = {
    'VendorID': 'A code indicating the TPEP provider that provided the record',
    'tpep_pickup_datetime': 'The date and time when the meter was engaged ',
    'tpep_dropoff_datetime': 'The date and time when the meter was disengaged ',
    'passenger_count': 'The number of passengers in the vehicle',
    'trip_distance': 'The elapsed trip distance in miles reported by the taximeter',
    'PULocationID': 'A code indicating the zone + borough of th pickup location',
    'DOLocationID': 'A code indicating the zone + borough of th dropoff location',
    'payment_type': 'A numeric code signifying how the passenger paid for the trip',
    'fare_amount': 'The time-and-distance fare calculated by the meter',
    'tip_amount': 'Tip amount â€“ This field is automatically populated for credit card tips. Cash tips are not included',
    'total_amount': 'The total amount charged to passengers. Does not include cash tips',
}

In [74]:
h5_file_path = os.path.join(data_dir, 'NYC-yellow-taxis-100k.h5')
print(h5_file_path)

/home/jack/Repos/hdf5-pycon-slovakia/data/NYC-yellow-taxis-100k.h5

In [75]:
filters = tb.Filters(complevel=5, complib='zlib')

with tb.open_file(filename=h5_file_path, mode='w') as f:
    # create table with pre-defined schema
    f.create_table(
        where='/',
        name='yellow_taxis_2017_12',
        description=TaxiTableDescription,
        title='NYC Yellow Taxi data December 2017',
        filters=filters)
    # add metadata
    table_where = '/yellow_taxis_2017_12'
    for key, val in data_dictionary.items():
        f.set_node_attr(where=table_where, attrname=key, attrvalue=val)

In [76]:
!ptdump 'data/NYC-yellow-taxis-100k.h5'  # try also h5dump

/ (RootGroup) ''
/yellow_taxis_2017_12 (Table(0,), shuffle, zlib(5)) 'NYC Yellow Taxi data December 2017'

In [77]:
def date_to_timestamp_ms(date_obj):
    timestamp_in_nanoseconds = date_obj.astype('int64')
    timestamp_in_ms = (timestamp_in_nanoseconds / 1000000).astype('int64')
    return timestamp_in_ms

def fill_table(table, mapping, df):
    num_records = df.shape[0]  # it's equal to the chunksize used in read_csv
    row = table.row
    for i in range(num_records):
        row['vendor_id'] = df[mapping['vendor_id']].values[i]

        pickup_ms = date_to_timestamp_ms(df[mapping['pickup_datetime']].values[i])
        row['pickup_timestamp_ms'] = pickup_ms
        dropoff_ms = date_to_timestamp_ms(df[mapping['dropoff_datetime']].values[i])
        row['dropoff_timestamp_ms'] = dropoff_ms

        row['passenger_count'] = df['passenger_count'].values[i]
        row['trip_distance'] = df['trip_distance'].values[i]

        row['pickup_location_id'] = df['PULocationID'].values[i]
        row['dropoff_location_id'] = df['DOLocationID'].values[i]

        row['fare_amount'] = df['fare_amount'].values[i]
        row['tip_amount'] = df['tip_amount'].values[i]
        row['total_amount'] = df['total_amount'].values[i]

        row['payment_type'] = df['payment_type'].values[i]
        row.append()
    table.flush()

*Remember to flush:* Remember, flushing a table is a very important step as it will not only help to maintain the integrity of your file, but also will free valuable memory resources (i.e. internal buffers) that your program may need for other things.

In [78]:
%%time
# Open the HDF5 file in 'a'ppend mode and populate the table with CSV data
with tb.open_file(filename=h5_file_path, mode='a') as f:
    # Left, the key we want to use. Right, the key in the CSV file
    mapping = {
        'vendor_id': 'VendorID',
        'pickup_datetime': 'tpep_pickup_datetime',
        'dropoff_datetime': 'tpep_dropoff_datetime',
        'pickup_location_id': 'PULocationID',
        'dropoff_location_id': 'DOLocationID'
    }

    # define the dtype to use when reading the CSV with pandas (this has nothing to do with the HDF5 table)
    dtype = {'VendorID': 'category', 'payment_type': 'category'}
    parse_dates = ['tpep_pickup_datetime', 'tpep_dropoff_datetime']

    table = f.get_node(where='/yellow_taxis_2017_12')
 
    csv_file_path = os.path.join(data_dir, 'yellow_tripdata_2017-12.csv')

    # read in chunks because these CSV files are too big
    chunksize = 100000
    for chunk in pd.read_csv(
        csv_file_path, chunksize=chunksize, dtype=dtype,
        skipinitialspace=True, parse_dates=parse_dates):
        df = chunk.reset_index(drop=True)
        fill_table(table, mapping, df)
        # remove the break statement to process all chunks (it will take ~20 minutes)
        break

CPU times: user 10.1 s, sys: 0 ns, total: 10.1 s
Wall time: 10.5 s

In [79]:
!pttree --use-si-units --sort-by 'size' 'data/NYC-yellow-taxis-100k.h5'

------------------------------------------------------------

/ (RootGroup)
`--yellow_taxis_2017_12 (Table)
      mem=3.9MB, disk=1.8MB [100.0%]

------------------------------------------------------------
Total branch leaves:    1
Total branch size:      3.9MB in memory, 1.8MB on disk
Mean compression ratio: 0.45
HDF5 file size:         1.8MB
------------------------------------------------------------

### Expressions with NumExpr

[NumExpr](https://github.com/pydata/numexpr) is an expression evaluator for NumPy.

- Parses expressions into its own bytecode that is then used by an integrated computing virtual machine written in C
- Processes chunks of elements at a time.
- The compilation step has some overhead, so NumExpr achieves better speedups with large arrays.

In [102]:
num_elements = 1000000  # 1 million
x = np.random.uniform(low=1, high=5, size=num_elements).astype('float32')

In [103]:
%%time
with tb.open_file(filename='data/my_pytables_file.h5', mode='w') as f:
    carray = f.create_carray(where='/', name='carray_without_numexpr', atom=tb.Float32Atom(), shape=x.shape)
    carray[:] = x**3 + 0.5*x**2 - x

CPU times: user 120 ms, sys: 16 ms, total: 136 ms
Wall time: 132 ms

In [104]:
%%time
with tb.open_file(filename='data/my_pytables_file.h5', mode='w') as f:
    carray = f.create_carray(where='/', name='carray_with_numexpr', atom=tb.Float32Atom(), shape=x.shape)
    ex = tb.Expr('x**3 + 0.5*x**2 - x')
    ex.set_output(carray) # output will got to the CArray on disk
    ex.eval()

CPU times: user 28 ms, sys: 24 ms, total: 52 ms
Wall time: 42.6 ms

### Searches

In [112]:
%%time
with tb.open_file(filename='data/NYC-yellow-taxis-100k.h5', mode='r') as f:
    table = f.get_node(where='/yellow_taxis_2017_12')
    rows = table.read()
    amounts = [row['total_amount'] for row in rows if row['passenger_count'] == 1]
    
print(len(amounts))

74411
CPU times: user 528 ms, sys: 0 ns, total: 528 ms
Wall time: 527 ms

### Indexes

### Create custom datatype

See https://github.com/tomkooij/scipy2017/blob/master/notebooks/02-Datatypes-in-HDF5.ipynb

### Links

external links, soft links, hard links.

See https://github.com/PyTables/PyTables/blob/develop/examples/links.py

See http://www.pytables.org/usersguide/libref/file_class.html#tables.File.create_external_link

### Add column to table (like a database schema migration)

### Filenode

See https://github.com/PyTables/PyTables/blob/develop/examples/filenodes1.py

### todo

### Transactions: mark, undo, redo, goto

See https://github.com/PyTables/PyTables/blob/develop/examples/undo-redo.py

See https://github.com/PyTables/PyTables/blob/develop/examples/tutorial3-2.py

This operation prepares the database for undoing and redoing modifications in the node hierarchy.

Once the Undo/Redo mechanism is enabled, explicit marks (with an optional unique name) can be set on the state of the database using the File.mark() method. There are two implicit marks which are always available: the initial mark (0) and the final mark (-1).

I personally find the method name `undo` a bit misleading and inconsistent (`undo` without specifying a mark rollback last transaction, with a mark with `'after b'` it return to the state marked as `'after b'`).

File.undo() method, which returns the database to the state of a past mark

In [199]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='w') as f:
    f.enable_undo()
    
    f.create_array(where='/', name='array_a', title='Array A', obj=[1, 2, 3])
    f.mark(name='after a')
    
    f.create_array(where='/', name='array_b', title='Array B', obj=[4, 5, 6])
    f.mark(name='after b')
    
    f.create_array(where='/', name='array_c', title='Array C', obj=[7, 8, 9])
    f.mark(name='after c')
    
#     f.undo(mark='after b')
#     f.redo(mark='after c')
    f.goto(mark='after a')
#     f.disable_undo()
    current_mark = f.get_current_mark()
    print(current_mark)

1

You cannot undo/redo everything! EXAMPLES?

Hierarchy manipulation operations on nodes that do not support the Undo/Redo mechanism issue an UndoRedoWarning before changing the database.

In [196]:
print(current_mark)

1

### HDF5 users, use cases and job offers

Add special thanks to all those replied.

### Resources

- [Introduction to HDF5](https://www.youtube.com/watch?v=BAjsCldRMMc) by Quincey Koziol
- [HDF5 take 2 - h5py & PyTables](https://www.youtube.com/watch?v=ofLFhQ9yxCw) by Tom Kooij
- [PyTables documentation](http://www.pytables.org/usersguide/index.html)
- [The starving CPU problem](https://python.g-node.org/python-summerschool-2013/_media/starving_cpu/starvingcpus.pdf) by Francesc Alted

### Special thanks

[Julien Guillaumin](https://www.linkedin.com/in/julienguillaumin): HDF5 image augmentation for deep learning applications